<html>
<body style='color: white; font-family: Arial,serif'>
<center>
  <div style="margin: 20px auto; width: 500px; padding: 10px 20px; background-color: #2b313d; border-radius: 5px; text-align: center;">
    <h2 style="color: white; text-align: center">Bem-vindo ao Instituto Aristóteles!</h2>
    <p>Olá {{name}}! Segue abaixo seu usuário e senha temporária:</p>
    <ul style='list-style: none; padding: 0'>
      <li>Usuário: {{username}}</li>
      <li>Senha: {{password}}</li>
    </ul>

    <p style='font-size: 10px; font-weight: bold'>OBS: essa senha é temporária. No momento que acessar o sistema pela primeira vez, você vai poder atualizar para a sua senha de preferência! :)</p>
  </div>
</center>
</body>
</html>